<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2008-2010, Aspire 
	
	Aspire is free software; you can redistribute it and/or 
	modify it under  the terms of the GNU Lesser General Public 
	License version 2.1 as published by the Free Software Foundation (the 
	"LGPL"). 
	
	You should have received a copy of the GNU Lesser General Public 
	License along with this library in the file COPYING-LGPL-2.1; if not, write to the Free Software 
	Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301 USA. 
	
	This software is distributed on an "AS IS" basis, WITHOUT WARRANTY 
	OF ANY KIND, either express or implied. See the GNU Lesser General Public 
	License for the specific language governing rights and limitations. 
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ow2.aspirerfid.ide.tcpmc.views.RawTcpMessageCapturerView"
            icon="icons/img/b_views.png"
            id="org.ow2.aspirerfid.ide.tcpmc.views.RawTcpMessageCapturerView"
            name="RawTcpMessageCapturerView"
            restorable="true">
      </view>
      <view
            class="org.ow2.aspirerfid.ide.tcpmc.views.EpcTcpMessageCapturerView"
            icon="icons/img/bd_sbrowse.png"
            id="org.ow2.aspirerfid.ide.tcpmc.views.EpcTcpMessageCapturerView"
            name="EpcTcpMessageCapturerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.OpenRawTcpMessageHandler"
            description="Open Raw Tcp Message Capturer View"
            id="org.ow2.aspirerfid.ide.tcpmc.openRawTcpMessageCapturerView.command"
            name="Raw Tcp Message Capturer">
      </command>
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.OpenEpcTcpMessageCapturerHandler"
            description="Open Epc Tcp Message Capturer View"
            id="org.ow2.aspirerfid.ide.tcpmc.openEpcTcpMessageCapturerView.command"
            name="Epc TCP Message Capturer View">
      </command>
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.StartRawTCPMessageCaptureHandler"
            description="Start Raw TCP Message Capture"
            id="org.ow2.aspirerfid.ide.tcpmc.startRawTCPMessageCapture.command"
            name="Start Raw TCP Message Capture">
      </command>
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.StopRawTCPMessageCaptureHandler"
            description="Stop Raw TCP Message Capture"
            id="org.ow2.aspirerfid.ide.tcpmc.stopRawTCPMessageCapture.command"
            name="Stop Raw TCP Message Capture">
      </command>
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.StartEPCTCPMessageCaptureHandler"
            description="Start EPC TCP Message Capture"
            id="org.ow2.aspirerfid.ide.tcpmc.startEpcTCPMessageCapture.command"
            name="Start EPC TCP Message Capture">
      </command>
      <command
            defaultHandler="org.ow2.aspirerfid.ide.tcpmc.handlers.StopEPCTCPMessageCaptureHandler"
            description="Stop EPC TCP Message Capture"
            id="org.ow2.aspirerfid.ide.tcpmc.stopEpcTCPMessageCapture.command"
            name="Stop EPC TCP Message Capture">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.ow2.aspirerfid.ide.main.windowmenu.showviewmenu">
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.openRawTcpMessageCapturerView.command"
               icon="icons/img/b_views.png"
               label="Raw Tcp Message Capturer"
               style="push">
         </command>
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.openEpcTcpMessageCapturerView.command"
               icon="icons/img/bd_sbrowse.png"
               label="EPC Tcp Message Capturer"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.ow2.aspirerfid.ide.tcpmc.views.EpcTcpMessageCapturerView">
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.startEpcTCPMessageCapture.command"
               icon="icons/player_play.png"
               style="push"
               tooltip="Start Capturer">
         </command>
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.stopEpcTCPMessageCapture.command"
               icon="icons/player_stop.png"
               style="push"
               tooltip="Stop Capturer">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.ow2.aspirerfid.ide.tcpmc.views.RawTcpMessageCapturerView">
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.startRawTCPMessageCapture.command"
               icon="icons/player_play.png"
               style="push"
               tooltip="Start Capturer">
         </command>
         <command
               commandId="org.ow2.aspirerfid.ide.tcpmc.stopRawTCPMessageCapture.command"
               icon="icons/player_stop.png"
               style="push"
               tooltip="Stop Capturer">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ow2.aspirerfid.ide.tcpmc.preferences.TcpMessageCapturer"
            id="org.ow2.aspirerfid.ide.tcpmc.preferences.TcpMessageCapturer"
            name="Raw/Epc TCP Message Capturer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ow2.aspirerfid.ide.tcpmc.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
