<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2008-2010, Aspire 
	
	Aspire is free software; you can redistribute it and/or 
	modify it under  the terms of the GNU Lesser General Public 
	License version 2.1 as published by the Free Software Foundation (the 
	"LGPL"). 
	
	You should have received a copy of the GNU Lesser General Public 
	License along with this library in the file COPYING-LGPL-2.1; if not, write to the Free Software 
	Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301 USA. 
	
	This software is distributed on an "AS IS" basis, WITHOUT WARRANTY 
	OF ANY KIND, either express or implied. See the GNU Lesser General Public 
	License for the specific language governing rights and limitations. 
	
	
	@author Nikos Kefalakis (nkef) e-mail: nkef@ait.edu.gr
-->
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ow2.aspirerfid.ide.ecspec.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.ow2.aspirerfid.ide.ecspec.application.Perspective"
            id="org.ow2.aspirerfid.ide.ecspec.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ow2.aspirerfid.ide.ecspec.views.ECSpecEditorView"
            icon="icons/https.png"
            id="org.ow2.aspirerfid.ide.ecspec.views.ECSpecEditorView"
            name="ECSpecEditorView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.ow2.aspirerfid.ide.ecspec.handlers.OpenECSpecEditorHandler"
            description="Open ECSpec Editor"
            id="org.ow2.aspirerfid.ide.ecspec.openecspecditor.command"
            name="ECSpec Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.ow2.aspirerfid.ide.main.windowmenu.showviewmenu">
         <command
               commandId="org.ow2.aspirerfid.ide.ecspec.openecspecditor.command"
               icon="icons/https.png"
               label="ECSpec Editor"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ow2.aspirerfid.ide.ecspec.preferences.ECSpecEditorPreferencePage"
            id="org.ow2.aspirerfid.ide.ecspec.preferences.ECSpecEditorPreferencePage"
            name="ECSpec Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ow2.aspirerfid.ide.ecspec.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
