/* Formatting specific to the StockWatcher application */
body {
	padding: 10px;
}

p.one {
	border-style: solid;
	border-width: 1px;
}

/* stock list header row */
.epcClassPropHeader {
	background-color: #2062B8;
	color: white;
	font-style: bold;
}

/* stock list flex table */
.epcClassProp {
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
}

/* stock list Price and Change fields */
.watchListNumericColumn {
	text-align: center;
	width: 6em;
}

/* stock list Remove column */
.watchListRemoveColumn {
	text-align: center;
}

/* Add Stock panel */
.addPanel {
	margin: 10px 0px 15px 0px;
}

.scrollable {
	height: 650px;
	width: 214px;
	border: 1px solid #ccc;
	text-align: left;
}